.loginButton {
    display: block;
    margin: 10px;
    border: 2px solid grey;
    width: 250px;
    height: 200px;
    margin-left: 43%;
    background-color: rgb(15, 133, 141);
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;


}

.loginButtonBox>div {
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.loginButtonBox>button {
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
}

.loginButtonBox>button:hover {
    background-color: rgb(15, 133, 141);
    color: whitesmoke;
}

.loginButtonBox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.loginButtonBox>div>p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
}